@page "/"
@using Sonos.Web.Blazor.Client;
@inject SonosWebClient client;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@if(Groups.Any())
{
    <ul>
        @foreach(var group in Groups)
        {
            <li><a href="/control/@group.Coordinator!.Uuid"> @group.GroupName (@group.Members?.Count members)</a></li>
        }
    </ul>
}

@code{
    public List<Client.Models.SonosGroup> Groups { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        var groups = await client.Api.Zones.GetAsync();
        foreach(var group in groups!)
        {
            Groups.Add(group);
        }
    }

}